
/**
 * Front-end styling for the display of webforms.
 */

input.webform-calendar {
  padding: 3px;
  vertical-align: top;
}
.webform-container-inline label {
  display: inline;
  margin-right: 1em;
}
.webform-container-inline div,
.webform-container-inline div.form-item {
  display: inline;
}
.webform-container-inline div.description {
  display: block;
}
